.bg-light {
    background-color: #d0a9dd !important;
}
.navbar-brand {
    color: #fff;
}

.navbar-nav .nav-link.active, 
.navbar-nav .show>.nav-link,
.nav-link {
    color: #fff !important;
}

.navbar-nav .nav-link.active {
    font-weight: 800;
}



